* {
  margin: 0;
  padding: 0;
}

.divHeader {
  width: 100%;
}

ul li {
  list-style: none;
}

ol, ul {
  padding: 0px;
}

.divHeader .header {
  background-color: rgb(87, 84, 84);
  color: aquamarine;
}
.styleContenedor {
  margin-top: 130px;
}

.footer {
  background-color: rgb(87, 84, 84);
  color: aquamarine;
  font-size: 30px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
